.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: #007c7f;
  position: fixed;
  top: 0;
  left: 0;
}

#loginForm {
  //-webkit-border-radius: 10px 10px 10px 10px;
  //border-radius: 10px 10px 10px 10px;
  //background: #fff;
  //padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  //padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.taskbar{
  cursor: default;
  background-color: gray;
  //margin: 16px 0 0 0;
  //padding: 0 8px;
  position: static;
  bottom: 0;
  border-top: 2px outset #EEE;
  z-index: 228;
  width: 100%;
  margin-right: 0px;
  //position: absolute;
  bottom: 0;
}

// .taskbar > a{

// }

.form-95 {
  width: 100%;
  border: 2px inset #d5d5d5;
  color: #424242;
  background: #fff;
  box-shadow: -1px -1px 0 0 #828282;
  margin-top: 4px;
  //padding-left:2px;
}

.bootstrap-select,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    outline: 0 !important;
}

.card{
  border: solid;
  border-width: 2px;
  border-bottom-color: #424242;
  border-right-color: #424242;
  border-left-color: #fff;
  border-top-color: #fff;
  background: silver;
  color:#212529;
}
.card.square{
  border-radius: 0px;
  border-left: none;
  margin-left: none;
}
.card.square .card-header{
  border-radius: 0px;
}
.card.w95 .card-header{
  background: #08216b;
  /* OR #000082 is better?*/
}
.card-header{
  background: -webkit-linear-gradient(left,#08216b,#a5cef7);
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: left;
}
.card-header.icon{
  padding-left: 4px;
}
.header-inactive{
  background: gray !important;
}

.btn{
  margin: 7px;
  border-width: 2px;
  border-style: outset;
  border-top-color: #a2a2a2;
  border-left-color: #a2a2a2;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: silver;
  color: black;
  padding: 0 0 4px;
  border-radius: 1px;
}
.btn:hover {
  border: 2px inset #fff;
  background: silver;
  color: #424242;
  box-shadow: -1px -1px #000;
}
.btn:focus {
  border: 2px inset #fff !important;
  background: silver;
  color: #424242;
  box-shadow: -1px -1px #000 !important;
  outline: 0 !important;
}
.btn:active {
  border: 2px inset #fff !important;
  color: #424242;
  box-shadow: -1px -1px #000 !important;
  outline: 0 !important;
}

.btn-primary{
  padding-left: 8px;
  padding-right: 8px;
}
button:focus{
  outline: 1px dotted;
}
.btn.disabled,.btn:disabled{
  cursor: default;
  background-color: silver;
  border-style: outset;
  border-right-color: #424242;
  border-bottom-color: #424242;
  color: grey;
  text-shadow: 1px 1px #fff;
}

#loginForm > label {
  margin-top: 7px;
}

#formBottom {
  //background-color: #f6f6f6;
  //border-top: 1px solid #dce8f1;
  padding: 17px;
  text-align: center;
  //-webkit-border-radius: 0 0 10px 10px;
  //border-radius: 0 0 10px 10px;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
