<div id="loginBox" class="wrapper fadeInDown">
  <div id="loginForm" class="card form-95">
    <p class="card-header">{{ isLoggingIn ? 'Login' : 'Forgot password' }}</p>
    <div class="square">
      <div *ngIf="!isLoggingIn && passwordReset">
        You will reacieve a password reset email shortly if it exists is our
        database.
      </div>
      <form
        *ngIf="!isLoggingIn && !passwordReset"
        [formGroup]="emailForm"
        (ngSubmit)="onPasswordReset()"
      >
        <label>Email:</label> <br />
        <input
          type="email"
          formControlName="email"
          [class.is-invalid]="
            emailForm.controls.email.dirty && emailForm.controls.email.invalid
          "
        />
        <div *ngIf="emailForm.controls.email.errors" class="invalid-feedback">
          Please enter a valid email
        </div>
        <br />
        <button class="btn" type="submit">
          Send reset email
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </form>
      <form
        *ngIf="isLoggingIn"
        [formGroup]="loginForm"
        (ngSubmit)="loginSubmit()"
      >
        <label for="userName">Username or Email:</label> <br />
        <input
          type="text"
          formControlName="email"
          [class.is-invalid]="
            loginForm.controls.email.dirty && loginForm.controls.email.invalid
          "
        /><br />
        <div *ngIf="loginForm.controls.email.errors" class="invalid-feedback">
          Please enter your email.
        </div>
        <label for="password">Password:</label><br />
        <input
          formControlName="password"
          [class.is-invalid]="
            loginForm.controls.password.dirty &&
            loginForm.controls.password.invalid
          "
          class=""
          type="password"
        /><br />
        <div
          *ngIf="loginForm.controls.password.errors"
          class="invalid-feedback"
        >
          Please enter your password.
        </div>
        <button class="btn">
          Log in
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </form>
    </div>
    <div id="formBottom" class="square taskbar">
      <a href="" (click)="switchView()">{{
        isLoggingIn ? 'forgot password?' : 'Login'
      }}</a>
    </div>
  </div>
</div>
