<label style="width: 100%">
  Title
  <input [(ngModel)]="title" placeholder="Title" type="text" class="form-control mb-2">
</label>

<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <app-datepicker (rangeSelected)="getRange($event)"></app-datepicker>
    <p *ngIf="periodEnd && periodStart">{{periodStart.toDateString()}} - {{periodEnd.toDateString()}}</p>
  </div>

  <div class="col-12 col-md-6">
    <label style="width: 100%">
      Comment
      <textarea [(ngModel)]="comment" placeholder="Optional comment" class="form-control"></textarea>
    </label>
  </div>
</div>

<button (click)="createRequest()" class="btn btn-primary">Save</button>
