<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <h1>Settings</h1>
    <div class="form-group">
      <label for="maxVacationLength">Max vacation length</label>
      <input class="form-control" style="max-width: 5em" id="maxVacationLength" type="number" [(ngModel)]="maxVacationLength">
    </div>
    <div class="form-group">
      <button (click)="save()" [disabled]="loading" class="btn btn-primary spin">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span>Save</span>
      </button>
    </div>
  </div>

</div>
