<full-calendar #calendar [options]="calendarOptions"></full-calendar>
<app-loading-overlay [isLoading]="loading"></app-loading-overlay>
<ng-template #createIneligibleModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add ineligible period</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <app-datepicker
          [isIneligible]="true"
          (rangeSelected)="saveRange($event)"
        ></app-datepicker>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(savedRange)"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #updateIneligibleModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Create new ineligible period
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <app-datepicker
          [isIneligible]="true"
          (rangeSelected)="saveRange($event)"
        ></app-datepicker>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('delete')"
    >
      Delete
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(savedRange)"
    >
      Update
    </button>
  </div>
</ng-template>
