<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Vacation</a>
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">

      <li [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="openCreateModal(createModal)">Request vacation</a>
      </li>

      <li ngbDropdown *ngIf="userIsAdmin" class="nav-item">
        <a ngbDropdownToggle class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a ngbDropdownItem [routerLink]="'/settings'" [routerLinkActive]="'active'">Settings</a>
          <a ngbDropdownItem [routerLink]="'/management'" [routerLinkActive]="'active'">Management</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <button class="btn btn-outline-secondary" tabindex="0" ngbDropdownToggle id="userDropdownLabel" role="button">
          <i>
            <img *ngIf="user.image" [src]="user.image" class="profile-icon" alt="profile pic">
            <svg *ngIf="!user.image" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
          </i>
          {{user.name}}
        </button>
        <div ngbDropdownMenu id="userDropdownMenu" aria-labelledby="userDropdownLabel"
             class="dropdown-menu dropdown-menu-right">
          <h6 class="dropdown-header">User management</h6>
          <a routerLink="/profile" ngbDropdownItem (click)="$event.preventDefault()">Profile</a>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logOut()" class="btn btn-danger">Log out</button>
        </div>
      </li>
    </ul>

  </div>
</nav>

<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-modal">Add request</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-request (create)="handleRequestCreated(createModal, $event)"></app-create-request>
  </div>
</ng-template>
