<label style="width: 100%">
  Title
  <input [(ngModel)]="request.title" required placeholder="Title" type="text" class="form-control mb-2">
</label>

<app-datepicker [initialStart]="request.periodStart" [initialEnd]="request.periodEnd" (rangeSelected)="getRange($event)"></app-datepicker>
<p *ngIf="request.periodEnd && request.periodStart">{{request.periodStart.toDateString()}} - {{request.periodEnd.toDateString()}}</p>


<button (click)="updateRequest()" class="btn btn-primary">Save</button>
