<div class="comment-wrap">
  <div class="d-flex flex-row">
    <div>
      <span>{{comment.userName}}</span>
      <p class="small text-muted">{{comment.createdOn.toDateString()}} <span *ngIf="comment.updatedOn">({{comment.updatedOn.toDateString()}})</span></p>
    </div>
    <button *ngIf="canEdit" (click)="editing = true" class="btn">
      <bi name="pencil"></bi>
    </button>
  </div>

  <p *ngIf="!editing">{{comment.message}}</p>

  <div *ngIf="editing" >
    <textarea [(ngModel)]="editedComment" type="text" class="form-control"></textarea>
    <div class="mt-1">
      <button (click)="updateComment()" class="btn btn-outline-primary">Save</button>
      &nbsp;
      <button (click)="editing = false" class="btn btn-outline-danger">Cancel</button>
    </div>
  </div>
</div>
