<ngb-datepicker class="yeet" #dp [markDisabled]="disabled" navigation="none" [startDate]="fromDate" (dateSelect)="onDateSelection($event)" [displayMonths]="displayMonths" [dayTemplate]="t" outsideDays="hidden">
  <ng-template ngbDatepickerContent >
    <div class="content-wrap">
      <div *ngFor="let month of dp.state.months">
        <div class="text-primary p-1 font-weight-bold">{{ i18n.getMonthShortName(month.month) }} {{ month.year }}</div>
        <ngb-datepicker-month class="border rounded" [month]="month"></ngb-datepicker-month>
      </div>
    </div>
  </ng-template>
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.weekend]="isWeekend(date)"
        [class.range]="isRange(date)">
    {{ date.day }}
  </span>
</ng-template>
