<ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [startDate]="fromDate" [dayTemplate]="t" [markDisabled]="markDisabled">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        [class.ineligible]="dateIsIneligible(date)"
        [class.disabled]="markDisabled(date)"
        [class.double]="date.equals(toDate) && date.equals(fromDate)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

