<div *ngIf="user" class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-5 order-md-2">
    <div class="row m-2 align-items-end profile-summary">
      <div class="profile-pic-container mr-2">
        <img
          class="img-thumbnail"
          [src]="image ? image : user.image"
          width="100"
          height="100"
          alt="Profile picture"
        />
        <div
          *ngIf="canEdit()"
          (click)="openImageModal(imageModal)"
          class="overlay"
        >
          <a class="icon" title="User Profile">
            <bi name="pencil-square" class="big"></bi>
          </a>
        </div>
      </div>

      <h2>{{ user.name }}</h2>
      <a
        (click)="toggleEditing()"
        *ngIf="userIsAdmin || userIsLoggedIn()"
        class="btn text-primary ml-2 h2"
      >
        <bi name="pencil-square" class="big"></bi>
      </a>
    </div>
    <hr class="mt-2" />

    <form
      *ngIf="userForm"
      [formGroup]="userForm"
      (ngSubmit)="onUserEditSubmit()"
    >
      <div class="form-group">
        <label>First name</label>
        <input
          class="form-control"
          [class.is-invalid]="userForm.controls.firstName.invalid"
          type="text"
          formControlName="firstName"
        />
        <div
          *ngIf="userForm.controls.firstName.errors"
          class="invalid-feedback"
        >
          Please enter a first name.
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          class="form-control"
          [class.is-invalid]="userForm.controls.lastName.invalid"
          type="text"
          formControlName="lastName"
        />
        <div *ngIf="userForm.controls.lastName.errors" class="invalid-feedback">
          Please enter a last name.
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          class="form-control"
          [class.is-invalid]="userForm.controls.email.invalid"
          type="text"
          formControlName="email"
        />
        <div *ngIf="userForm.controls.email.errors" class="invalid-feedback">
          Please enter a valid email.
        </div>
      </div>
      <div *ngIf="userIsAdmin" class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="isAdmin"
        />
        <label class="form-check-label">Admin</label>
      </div>
      <div *ngIf="!formDisabled" class="form-group mt-3">
        <button [disabled]="userForm.invalid" class="btn btn-primary">
          <span
            *ngIf="saving"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span>Save</span>
        </button>
      </div>
    </form>

    <hr *ngIf="userIsLoggedIn()" />

    <div *ngIf="userIsLoggedIn()" class="row ml-1">
      <button
        (click)="openPasswordModal(passwordModal)"
        class="btn btn-outline-primary"
      >
        Change password
      </button>
    </div>
  </div>

  <!-- Requests -->
  <div class="col-12 col-md-6 col-lg-5">
    <div class="d-flex mb-1 flex-row justify-content-between">
      <h3>Requests</h3>
      <button
        *ngIf="userIsLoggedIn()"
        (click)="openCreateModal(createModal)"
        class="btn btn-outline-primary"
      >
        Add
      </button>
    </div>
    <p *ngIf="requests.length <= 0" class="text-muted">No requests yet...</p>
    <ul id="user-requests" class="list-group">
      <li
        (click)="requestClick(request.id)"
        *ngFor="let request of requests | sortBy: 'desc':'periodStart'"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      >
        <div class="flex-grow-1">
          <p class="mb-1">
            {{ request.title }}
            <span
              class="badge small text-light"
              [class.badge-warning]="request.state === 'Pending'"
              [class.badge-secondary]="request.state === 'Denied'"
              [class.badge-success]="request.state === 'Approved'"
            >
              {{ request.state }}
            </span>
          </p>
          <span class="text-muted small"
            >{{ request.periodStart.toDateString() }} -
            {{ request.periodEnd.toDateString() }}</span
          >
        </div>
        <div
          *ngIf="userIsLoggedIn() || userIsAdmin"
          class="flex-row justify-content-center align-items-center"
        >
          <button
            (click)="
              openConfirmDeleteModal($event, request.id, confirmDeleteModal)
            "
            class="btn btn-outline-danger"
          >
            &times;
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #passwordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="password-modal">Change password</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    *ngIf="passwordForm"
    [formGroup]="passwordForm"
    (ngSubmit)="onPasswordChangeSubmit(modal)"
  >
    <div class="modal-body">
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          [class.is-invalid]="
            passwordForm.controls.password1.dirty &&
            passwordForm.controls.password1.invalid
          "
          formControlName="password1"
        />
        <div
          *ngIf="passwordForm.controls.password1.errors"
          class="invalid-feedback"
        >
          The password must be at least 5 characters long
        </div>
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        <input
          type="password"
          class="form-control"
          [class.is-invalid]="passwordForm.hasError('mismatch')"
          formControlName="password2"
        />
        <div *ngIf="passwordForm.hasError('mismatch')" class="invalid-feedback">
          The passwords do not match
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="passwordForm.invalid"
      >
        <span
          *ngIf="saving"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Save
      </button>
    </div>
  </form>
</ng-template>

<ng-template #imageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="image-modal">Change image</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input
      [(ngModel)]="image"
      [placeholder]="user.image"
      type="text"
      class="form-control m-2"
      placeholder="New password"
      aria-label="Password"
    />
    <img *ngIf="image" [src]="image" height="100" alt="New profile image" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Ok
    </button>
  </div>
</ng-template>

<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="confirm-delete-modal">Delete request?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Are you sure you want to delete this request?</strong>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close()"
    >
      <span
        *ngIf="saving"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Delete
    </button>
  </div>
</ng-template>

<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-modal">Add request</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-request
      (create)="handleRequestCreated(createModal, $event)"
    ></app-create-request>
  </div>
</ng-template>

<app-loading-overlay [isLoading]="!user"></app-loading-overlay>
