.profile-pic-container {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: gray;

    .icon{
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
.profile-pic-container:hover .overlay {
  opacity: .5;
}

#user-requests {
  max-height: 70vh;
  overflow-y: scroll;

  li {
    cursor: pointer;
  }
}
