<nav ngbNav #nav="ngbNav" class="nav-tabs">

  <ng-container ngbNavItem>
    <a ngbNavLink>Users</a>
    <ng-template ngbNavContent>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="d-flex mb-1 flex-row justify-content-between">
          <h3>All users</h3>
          <button (click)="openCreateUserModal(createUserModal)" class="btn btn-outline-primary">Add</button>
        </div>
        <ul id="user-list" class="list-group">
          <li (click)="userClick(user.id)" *ngFor="let user of allUsers" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

            <img [src]="user.image ? user.image : 'https://api.adorable.io/avatars/150/' + user.email" height="50" style="border-radius: 50px">

            <div class="flex-grow-1 ml-3">
              <p class="mb-1">{{user.name}}</p>
              <span class="text-muted small">{{user.email}} <span *ngIf="user.isAdmin">- admin</span></span>
            </div>
            <div *ngIf="!isCurrentUser(user.id)" class="flex-row justify-content-center align-items-center">
              <button (click)="openConfirmDeleteModal($event, user.id, confirmDeleteModal)" class="btn btn-outline-danger">&times;</button>
            </div>

          </li>
        </ul>
      </div>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem>
    <a ngbNavLink>Pending requests</a>
    <ng-template ngbNavContent>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="d-flex mb-1 flex-row justify-content-between">
          <h3>Pending requests</h3>
        </div>
        <p *ngIf="pendingRequests.length <= 0" class="text-muted">No pending requests...</p>
        <ul id="user-requests" class="list-group">
          <li (click)="requestClick(request.id)" *ngFor="let request of pendingRequests | sortBy:'desc':'periodStart'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

            <div class="flex-grow-1">
              <p class="mb-1">{{request.title}}</p>
              <span class="text-muted small">{{request.periodStart.toDateString()}} - {{request.periodEnd.toDateString()}}</span>
            </div>
            <div class="flex-row justify-content-center align-items-center">
              <button (click)="denyRequest($event, request)" class="btn btn-outline-danger mr-2"><bi name="x" class="big"></bi></button>
              <button (click)="approveRequest($event, request)" class="btn btn-outline-success"><bi name="check" class="big"></bi></button>
            </div>

          </li>
        </ul>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="confirm-delete-modal">Delete user?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Are you sure you want to delete this user?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close()">
      Delete
    </button>
  </div>
</ng-template>

<ng-template #createUserModal let-modal>
  <form #userForm="ngForm" ngForm (ngSubmit)="createUser()">
    <div class="modal-header">
      <h4 class="modal-title" id="add-user-modal">Create user?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label>Name <span class="text-danger">*</span></label>
      <div class="input-group mb-2">
        <input [(ngModel)]="newUser.firstName" name="firstName" required class="form-control" placeholder="First name" type="text">
        <input [(ngModel)]="newUser.lastName" name="lastName" required class="form-control" placeholder="Last name" type="text">
      </div>

      <label style="width: 100%">
        Email <span class="text-danger">*</span>
        <input [(ngModel)]="newUser.email" name="email" required class="form-control mb-2" placeholder="Email" type="email"
               #emailValid="ngModel" [class.is-invalid]="emailValid.invalid && emailValid.touched"
               pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)">
      </label>

      <div class="form-check mb-2">
        <input [(ngModel)]="newUser.isAdmin" id="is-admin" class="form-check-input" type="checkbox" name="isAdmin">
        <label for="is-admin" class="form-check-label">
          Is admin
        </label>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">
        Cancel
      </button>
      <button type="submit" class="btn btn-outline-primary" [disabled]="!userForm.valid">
        Create
      </button>
    </div>
  </form>
</ng-template>
