.overlay {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;

  background-color: black;
  opacity: 0.5;
}

.spinner {
  width: 100px !important;
  height: 100px !important;
  color: white;
  margin: auto;
}
