<app-loading-overlay [isLoading]="isLoading"></app-loading-overlay>
<div *ngIf="!isLoading && userCanViewRequest()" class="col">
  <h3>
    {{ request.title }}
    <span
      class="badge small text-light"
      [class.badge-warning]="request.state === 'Pending'"
      [class.badge-secondary]="request.state === 'Denied'"
      [class.badge-success]="request.state === 'Approved'"
    >
      {{ request.state }}
    </span>
  </h3>
  <p class="text-muted">
    <a [routerLink]="'/profile/' + request.ownerId">{{ request.ownerName }}</a>
    | {{ request.periodStart.toDateString() }} -
    {{ request.periodEnd.toDateString() }}
  </p>
  <p *ngIf="request.state === 'Approved'">
    Approved by {{ request.moderatorName }} at
    {{ request.moderatedAt.toString().split('T')[0] }}
  </p>
  <p *ngIf="request.state === 'Denied'">
    Denied by {{ request.moderatorName }} at
    {{ request.moderatedAt.toString().split('T')[0] }}
  </p>

  <hr />

  <div *ngIf="userCanEdit()">
    <button
      *ngIf="userCanEdit() && request.state === 'Pending'"
      (click)="deleteRequest(confirmDeleteModal)"
      class="btn btn-outline-danger"
    >
      <bi name="trash"></bi>Delete
    </button>
    &nbsp;
    <button
      (click)="openUpdateModal(updateModal)"
      class="btn btn-outline-primary"
    >
      <bi name="pencil-square"></bi>Edit
    </button>

    <div
      *ngIf="userCanAccept() && request.state === 'Pending'"
      style="display: inline;"
    >
      <div class="separator"></div>
      <button (click)="denyRequest()" class="btn btn-outline-danger">
        <bi name="x"></bi>
      </button>
      &nbsp;
      <button (click)="approveRequest()" class="btn btn-outline-success">
        <bi name="check"></bi>
      </button>
    </div>
  </div>

  <app-range-display
    [from]="request.periodStart"
    [to]="request.periodEnd"
  ></app-range-display>

  <div *ngIf="userCanSeeComments()">
    <hr />
    <h4>Comments</h4>
    <textarea
      [(ngModel)]="newComment"
      class="form-control"
      placeholder="Add a comment..."
    ></textarea>
    <button (click)="addComment()" class="btn btn-outline-primary mt-1">
      Send
    </button>

    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [canEdit]="canEditComment(comment)"
    ></app-comment>
  </div>
</div>

<div *ngIf="isLoading">
  loading
</div>

<div *ngIf="!userCanViewRequest()">
  <p>You do not have permission to view this request</p>
</div>

<ng-template #updateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-modal">Update request</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-update-request
      [requestInput]="request"
      (update)="handleRequestUpdated($event)"
    ></app-update-request>
  </div>
</ng-template>

<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="confirm-delete-modal">Delete request?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Are you sure you want to delete this request?</strong>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close()"
    >
      Delete
    </button>
  </div>
</ng-template>
