/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.separator {
  display: inline;
  margin-left: 1.2em;
  margin-right: 1.2em;
  min-height: 150px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.big {
  svg {
    width: 1.5em;
    height: 1.5em
  }
}
